#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  height:600px;

  text-align: center;
  background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8.5px );
-webkit-backdrop-filter: blur( 8.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#root button{
  color:white;
}
.form{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

.form label{
  width:300px;
  margin: 5px 0;
  font-weight:700;
  font-family:Gilroy;
  display:flex;
  justify-content:space-between;
}

.form label select{
  border-radius:2px;
}

.form input{
  padding:8px 20px;
  border-radius:5px;
  height:20px;
  width:50px;
}
.form button{
  margin:20px 20px;
  padding: 10px 20px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

